@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-text{
  text-align: right;
  margin: 10px;
  padding: 5px;
}

.input-search{
  width: 90%;
  margin: 3%;
  padding: 10px;
}

.emoji{
  padding: 5px;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 5px;
}

.emojis{
  font-size: 1.5rem;

}